/* Estilos para la página */
body {
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #8e4489;
}

/* Estilo para el div principal */
div {
    background-color: white;
    padding: 20px;
    width: 450px;
}

h1, p {
    text-align: center;
    color: purple;
}

/* Estilo para el formulario */
form {
    display: flex;
    flex-direction: column;
}

/* Estilo para los input y la caja de texto */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="submit"],
textarea {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #b9b9b9;
    border-radius: 5px;
    resize: vertical;
}

/* Estilo para el submit */
input[type="submit"] {
    background-color: #8e4489;
    color: white;
}

input[type="submit"]:hover {
    background-color: #7a3a76;
}
