body {
    display: flex;
    justify-content: center; /* Centra el main horizontalmente */
}

main {
    width: 80%;     /* O el ancho deseado */
    margin: 0 auto; /* Centra horizontalmente */
}




img {
    width: 800px;
    height: 500px;
}