* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    background-color: gray;
}

header {
    background-color: #222; /* Fondo oscuro */
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Sombra para separación */
    text-align: center;
}

header h1 {
    font-size: 1em; /* Tamaño del texto */
    color: #fff; /* Color blanco */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra para profundidad */
}

.header-nav {
    display: flex;
    font-size: 1em;
    justify-content: center;
    gap: 20px; /* Espacio entre enlaces */
    list-style: none;
    margin: 0;
}

.header-nav a {
    color: #fff; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    padding: 10px 15px;
    background-color: #333; /* Fondo oscuro para los enlaces */
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Efecto suave */
}

.header-nav a:hover {
    background-color: #555; /* Cambio de fondo en hover */
    transform: scale(1.1); /* Efecto de escalado en hover */
}


.container {
    width: 900px; /* Ancho total del tablero: 9 celdas de 100px */
    height: 900px; /* Altura total del tablero: 9 celdas de 100px */
    margin: -25px auto; /* Centrar el tablero horizontalmente y bajarlo */
    overflow: hidden; /* Evitar desbordamientos debido a floats */
}

.cell, .border {
    float: left; /* Hacer que las celdas floten a la izquierda */
    width: 100px; /* Ancho fijo de cada celda */
    height: 100px; /* Altura fija de cada celda */
    box-sizing: border-box; /* Incluir bordes y padding dentro del tamaño */
}

.border {
    text-align: center;
    line-height: 100px; /* Centrar texto verticalmente */
    font-size: 1.3em; /* Tamaño de fuente ajustado */
    color: black; /* Color del texto */
}

.white {
    background-image: url(../images/madera_blanca.jpg);
    background-size: cover;
}

.brown {
    background-image: url(../images/madera_oscura.png);
    background-size: cover;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ajustar imágenes sin distorsión */
}





/* Estilo para el enlace del logo */
.logo {
    position: fixed; /* Fija el logo en la esquina, visible siempre en la pantalla */
    top: 10px; /* Espacio desde el borde superior */
    left: 10px; /* Espacio desde el borde izquierdo */
    z-index: 10; /* Asegura que el logo esté encima del resto del contenido */
    display: flex; /* Alinea la imagen dentro del enlace */
    align-items: center; /* Centra la imagen verticalmente */
}

/* Estilo para la imagen del logo */
.logo img {
    height: 60px; /* Altura del logo */
    width: auto; /* Mantiene la proporción de la imagen */
    transition: transform 0.3s ease; /* Añade una transición para el efecto hover */
}

/* Efecto hover en el logo */
.logo:hover img {
    transform: scale(1.1); /* Agranda el logo ligeramente al pasar el cursor */
}