.eeuu {
    position: relative;
}

.franja {
    background-color: rgb(179, 25, 66);
    height: calc(150px / 13);
}

.franja2 {
    background-color: rgb(255, 255, 255);
}

.eeuu-estrellas {
    position: absolute;
    width: 35%;
    height: calc((150px / 13) * 7);
    background-color: rgb(10, 49, 97);
}

.estrellas-fila {
    display: flex;
    justify-content: space-between;
}

.estrellas-fila-par {
    padding: 0px 8px;
}

.estrellas {
    font-size: 7px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

.ue {
    background-color: rgb(0, 51, 153);
}

.circulo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ue-estrella {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgb(255, 204, 0);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    transform-origin: 50% 50%;
}

.ue-estrella:nth-child(1) {
    transform: rotate(0deg) translateY(-60px);
}

.ue-estrella:nth-child(2) {
    transform: rotate(25deg) translateY(-60px);
}

.ue-estrella:nth-child(3) {
    transform: rotate(51deg) translateY(-60px);
}

.ue-estrella:nth-child(4) {
    transform: rotate(77deg) translateY(-60px);
}

.ue-estrella:nth-child(5) {
    transform: rotate(102deg) translateY(-60px);
}

.ue-estrella:nth-child(6) {
    transform: rotate(128deg) translateY(-60px);
}

.ue-estrella:nth-child(7) {
    transform: rotate(154deg) translateY(-60px);
}

.ue-estrella:nth-child(8) {
    transform: rotate(180deg) translateY(-60px);
}

.ue-estrella:nth-child(9) {
    transform: rotate(205deg) translateY(-60px);
}

.ue-estrella:nth-child(10) {
    transform: rotate(231deg) translateY(-60px);
}

.ue-estrella:nth-child(11) {
    transform: rotate(257deg) translateY(-60px);
}

.ue-estrella:nth-child(12) {
    transform: rotate(282deg) translateY(-60px);
}

.ue-estrella:nth-child(13) {
    transform: rotate(308deg) translateY(-60px);
}

.ue-estrella:nth-child(14) {
    transform: rotate(334deg) translateY(-60px);
}

