* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

main > div {
    width: 275px;
    height: 250px;
    background-color: #f0f0f0;
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.1);
    margin: 10px 0 0 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bandera {
    box-sizing: content-box;
    width: 250px;
    height: 150px;
    border: 1px solid black;
    margin: 0;
    
}

/* Estilo para el enlace del logo */
.logo {
    position: fixed; /* Fija el logo en la esquina, visible siempre en la pantalla */
    top: 10px; /* Espacio desde el borde superior */
    left: 10px; /* Espacio desde el borde izquierdo */
    z-index: 10; /* Asegura que el logo esté encima del resto del contenido */
    display: flex; /* Alinea la imagen dentro del enlace */
    align-items: center; /* Centra la imagen verticalmente */
}

/* Estilo para la imagen del logo */
.logo img {
    height: 60px; /* Altura del logo */
    width: auto; /* Mantiene la proporción de la imagen */
    transition: transform 0.3s ease; /* Añade una transición para el efecto hover */
}

/* Efecto hover en el logo */
.logo:hover img {
    transform: scale(1.1); /* Agranda el logo ligeramente al pasar el cursor */
}