.estrella {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.senegal {
    background-image: linear-gradient(90deg, rgb(0, 138, 62) 33%, rgb(253, 209, 22) 33%, rgb(253, 209, 22) 66.66%, rgb(206, 17, 38) 66.66%);
}

.senegal .estrella {
    background-color: rgb(0, 138, 62);
    text-align: center;
}

.vietnam {
    background-color: rgb(206, 17, 38);
}

.vietnam .estrella {
    background-color: rgb(255, 216, 0);
    text-align: center;
}

.somalia {
    background-color: rgb(0, 174, 239);
}

.somalia .estrella {
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.camerun {
    background-image: linear-gradient(90deg, rgb(0, 114, 41) 33%, rgb(206, 17, 38) 33%, rgb(206, 17, 38) 66.66%, rgb(253, 209, 22) 66.66%);
}

.camerun .estrella {
    background-color: rgb(253, 209, 22);
    text-align: center;
}

.ghana {
    background-image: linear-gradient(rgb(206, 17, 38) 33%, rgb(253, 209, 22) 33%, rgb(253, 209, 22) 66.66%, rgb(0, 114, 41) 66.66%);
}

.ghana .estrella {
    background-color: rgb(0, 0, 0);
    text-align: center;
}

.siria {
    background-image: linear-gradient(rgb(206, 17, 38) 33%, rgb(255, 255, 255) 33%, rgb(255, 255, 255) 66.66%, rgb(0, 0, 0) 66.66%);
}

.siria .estrella {
    background-color: rgb(0, 138, 62);
    text-align: center;
    left: 42%;
}

.china {
    background-color: rgb(206, 17, 38);
    position: relative;
}

.china .estrella {
    background-color: rgb(255, 216, 0);
    transform: scale(1.5);
    position: absolute;
    top: 20px;
    left: 20px;
}

.china .estrella-pequena {
    width: 20px;
    height: 20px;
    background-color: rgb(255, 216, 0);
    position: absolute;
}

.china .estrella1 {
    top: 5px;
    left: 75px;
    transform: rotate(30deg);
}

.china .estrella2 {
    top: 25px;
    left: 90px;
    transform: rotate(15deg);
}

.china .estrella3 {
    top: 50px;
    left: 90px;
    transform: rotate(0deg);
}

.china .estrella4 {
    top: 75px;
    left: 75px;
    transform: rotate(-15deg);
}

.panama {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.cuadrante1.cuadrante4 {
    background-color: rgb(255, 255, 255);
    position: relative;
}

.panama .cuadrante2 {
    background-color: rgb(206, 17, 38);
}

.panama .cuadrante3 {
    background-color: rgb(0, 56, 168);
}

.panama .cuadrante1 .estrella, 
.panama .cuadrante4 .estrella {
    top: 50%;
    left: 50%;
}

.panama .cuadrante1 .estrella {
    background-color: rgb(0, 56, 168);
}

.panama .cuadrante4 .estrella {
    background-color: rgb(206, 17, 38);
}

.chile {
    background-image: linear-gradient(rgb(255, 255, 255) 50%, rgb(206, 17, 38) 50%);
}

.chile .cuadrante1 {
    width: 33.33%;
    height: 50%;
    background-color: rgb(0, 56, 168);
}

.chile .estrella {
    background-color: rgb(255, 255, 255);
}

.burkina {
    background-image: linear-gradient(rgb(206, 17, 38) 50%, rgb(0, 138, 62) 50%);
}

.burkina .estrella {
    background-color: rgb(255, 127, 0);
}
