.palestina {
    background-image: linear-gradient(rgb(0, 0, 0) 33%, rgb(255, 255, 255) 33%, rgb(255, 255, 255) 66.66%, rgb(0, 122, 61) 66.66%);
}

.palestina .triangulo {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 75px solid transparent;
    border-bottom: 70px solid transparent;
    border-left: 80px solid rgb(206, 17, 38);
}

.che {
    background-image: linear-gradient(rgb(255, 255, 255) 50%, rgb(206, 17, 38) 50%);
}

.che .triangulo {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 75px solid transparent;
    border-bottom: 70px solid transparent;
    border-left: 80px solid rgb(0, 56, 168);
}

.bahamas {
    background-image: linear-gradient(rgb(0, 122, 61) 33%, rgb(255, 209, 22) 33%, rgb(255, 209, 22) 66.66%, rgb(0, 122, 61) 66.66%);
}

.bahamas .triangulo {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 75px solid transparent;
    border-bottom: 70px solid transparent;
    border-left: 80px solid rgb(0, 0, 0);
}

.cuba {
    position: relative;
    background-image: linear-gradient(rgb(0, 56, 168) 20%, rgb(255, 255, 255) 20%, rgb(255, 255, 255) 40%, rgb(0, 56, 168) 40%, rgb(0, 56, 168) 60%, rgb(255, 255, 255) 60%, rgb(255, 255, 255) 80%, rgb(0, 56, 168) 80%, rgb(0, 56, 168) 100%);
}

.triangulo {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 75px solid transparent;
    border-bottom: 70px solid transparent;
    border-left: 80px solid rgb(206, 17, 38);
}

.cuba .estrella {
    position: absolute;
    background-color: rgb(255, 255, 255);
    left: 10%;
}
